

<div class="banner-restaurant" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @restaurant.photo.key %>);">
    <div class="container-title-card">
      <h1><%= @restaurant.name %> </h1>
      <p><%= @restaurant.adress %></p>
      <p><%= @restaurant.category %></p>
    </div>
</div>
<div class= "container col-lg-">
  <h3>Add meal</h3>
  <%= simple_form_for [@restaurant, @meal] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Submit this meal", class: "btn btn-primary" %>
<% end %>
<%= link_to "Back to #{@restaurant.name}", restaurant_path(@restaurant) %>
</div>
