<div class="container">
  <h1><%= @meal.name %> </h1>
  <ul>
    <li>meal name : <%= @meal.name %></li>
    <li>meal category : <%= @meal.category %></li>
    <li>meal price : <%= @meal.price %></li>
  </ul>
  <% @restaurant_id = Restaurant.find(params[:restaurant_id]) %>
  <%= link_to "back to restaurant", restaurant_path(params[:restaurant_id]) %>
  <%= link_to "Delete", restaurant_meal_path(@meal), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>
  <%= link_to "edit this meal", edit_restaurant_meal_path %>
  <%= link_to "Create an Order", new_restaurant_order_path(restaurant_id: @meal.restaurant, meal_id: @meal) %>
</div>
