<div class="banner-form" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1635&q=80);">
</div>
<div class="container">
  <div class="form-content">
     <h1>We missed you, glad you're here</h1>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log In" %>
      </div>
    <% end %>
  </div>


  <form class="form-content" method='get' action= <%= new_user_registration_path %>>
    <div class="form-actions">
      <label for="new-registration">New to Taste Up ?</label>
      <input class='btn' type="submit" id='new-registration' value='Join us'>
    </div>
  </form>
</div>
