<div class="carousel-item <%= "active" if active %>">
  <div class="d-flex justify-content-around">
    <% @restaurants.first(3).each do |meal| %>
    <%= link_to restaurant_path(restaurant) do %>
    <div class="col-4">
      <div class="card-restaurant" style="width: 15rem!important">
        <!-- <img src=<%= restaurant.picture_url %> class="card-img-top" alt=<%= restaurant.name %> || "https://images.unsplash.com/photo-1511688878353-3a2f5be94cd7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"> -->
        <div class="card-body">
          <p class="card-title"><%= restaurant.name %> - <%= restaurant.adress %></p>
        </div>
        <p class="card-footer">
        <span>5</span>
        <span>
        <i class="far fa-star"></i>
        </span>
        <span>(100+ votes) <%= restaurant.category %></span>
        </p>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
