<div class="carousel-item <%= "active" if active %>">
  <div class="d-flex justify-content-around">
    <% restaurant.meals.first(3).each do |meal| %>
      <%= link_to meal_path(meal) do %>
        <div class="card-product">
          <%= cl_image_tag meal.photo.key || "" %>
          <div class="card-product-infos">
            <h2><%= meal.name %></h2>
            <h3> <%= meal.price %>€</h3>
            <p><%= meal.description %> <p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
