<div class="carousel-item <%= "active" if active %>">
  <div class="d-flex justify-content-around">
    <% @restaurants.first(3).each do |meal| %>
    <%= link_to restaurant_path(restaurant) do %>
    <div class="col-4">
      <div class="card-restaurant" style="width: 15rem!important">
        <%= cl_image_tag restaurant.photo.key, class: 'card-img-top', height: 160, alt: restaurant.name %>
        <div class="card-body">
          <p class="card-title"><%= restaurant.name %> - <%= restaurant.adress %></p>
        </div>
        <p class="card-footer">
        <span>5</span>
        <span>
        <i class="far fa-star"></i>
        </span>
        <span>(100+ votes) <%= restaurant.category %></span>
        </p>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
