<div class="container">
  <h1>Update <%= @restaurant.name %> </h1>
  <%= simple_form_for(@restaurant) do |f| %>
    <%= f.input :name %>
    <%= f.input :adress %>
    <%= f.input :photo, as: :file %>
    <%= f.input :category, :collection => %w(Francais Japonais Libanais Burger Italien) %>
    <%= f.submit "Update restaurant", class: "btn btn-primary" %>
  <% end %>
</div>
