<div class="banner-restaurant-index">
  <h1>Pick a meal</h1>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <% @restaurants.each do |restaurant| %>
      <div class="carousel-item active">
        <div class="d-block w-100 d-inline-flex">
        <% meal = restaurant.meals.first %>
        <%= link_to meal_path(meal) do %>
          <div class="card-product">
            <%= image_tag meal.picture_url || "https://images.unsplash.com/photo-1496412705862-e0088f16f791?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" %>
            <div class="card-product-infos">
              <h2><%= meal.name %></h2>
              <h3> <%= meal.price %>€</h3>
              <p><%= meal.description %> <p>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-block w-100 d-inline-flex">
          <% meal = restaurant.meals.second %>
          <%= link_to meal_path(meal) do %>
          <div class="card-product">
            <%= image_tag meal.picture_url || "https://images.unsplash.com/photo-1496412705862-e0088f16f791?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" %>
            <div class="card-product-infos">
              <h2><%= meal.name %>€</h2>
              <h3> <%= meal.price %></h3>
              <p><%= meal.description %> <p>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-block w-100 d-inline-flex">
          <% meal = restaurant.meals.third %>
          <%= link_to meal_path(meal) do %>
          <div class="card-product">
            <%= image_tag meal.picture_url || "https://images.unsplash.com/photo-1496412705862-e0088f16f791?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" %>
            <div class="card-product-infos">
              <h2><%= meal.name %></h2>
              <h3> <%= meal.price %>€</h3>
              <p><%= meal.description %> <p>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <% end  %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="container index">
  <h1>...or a restaurants</h1>
  <div class="row">
    <% @restaurants.each do |restaurant| %>
    <%= link_to restaurant_path(restaurant) do %>
    <div class="col-4">
      <div class="card-restaurant" style="width: 15rem!important">
        <!-- <img src=<%= restaurant.picture_url %> class="card-img-top" alt=<%= restaurant.name %> || "https://images.unsplash.com/photo-1511688878353-3a2f5be94cd7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"> -->
        <div class="card-body">
          <p class="card-title"><%= restaurant.name %> - <%= restaurant.adress %></p>
        </div>
        <p class="card-footer">
        <span>5</span>
        <span>
        <i class="far fa-star"></i>
        </span>
        <span>(100+ votes) <%= restaurant.category %></span>
        </p>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
  </div>
  <div class="bottom-banner">
    <h3>You're a restaurant owner ?</h3>
    <%= link_to "Add my restaurant", new_restaurant_path %>
  </div></div>
