<div class="banner-restaurant-index">
  <h3>Best places to eat</h3>
</div>
<div class="container index">
  <h1>All restaurants</h1>
  <div class="row">
    <% @restaurants.each do |restaurant| %>
    <%= link_to restaurant_path(restaurant) do %>
    <div class="col-4">
      <div class="card-restaurant" style="width: 15rem!important">
        <%= cl_image_tag restaurant.photo.key, class: 'card-img-top', alt: restaurant.name %>
        <div class="card-body">
          <p class="card-title"><%= restaurant.name %> - <%= restaurant.adress %></p>
        </div>
        <p class="card-footer">
        <span>5</span>
        <span>
        <i class="far fa-star"></i>
        </span>
        <span>(100+ votes) <%= restaurant.category %></span>
        </p>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
  <%= link_to "add a restaurant", new_restaurant_path %>
</div>
