<div class="banner-restaurant" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @restaurant.photo.key %>)">
    <div class="container-title-card">
      <h1><%= @restaurant.name %> </h1>
      <p><%= @restaurant.adress %></p>
      <p><%= @restaurant.category %></p>
    </div>
</div>
<div class="container">
 <h1>Meals available</h1>
  <div class=container-meal-cards>
    <%@restaurant.meals.each do |meal|  %>
      <%= link_to meal_path(meal) do %>
        <div class="card-product">
          <%= cl_image_tag meal.photo.key, crop: :fill %>
          <div class="card-product-infos">
            <h2><%= meal.name %></h2>
            <h3> <%= meal.price %></h3>
            <p><%= meal.description %> <p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>


  <%= link_to "back to restaurants", restaurants_path %>
  <%= link_to "add meals", new_restaurant_meal_path(@restaurant) %>
  <%= link_to "Delete", restaurant_path(@restaurant), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>
  <%= link_to "edit this restaurant", edit_restaurant_path %>
</div>
</div>

